langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langgraph
python-dotenv
chromadb
ipykernel
langchain-huggingface 
sentence-transformers
unstructured 
rank_bm25
cohere
fastapi
uvicorn
streamlit
assemblyai
audio-recorder-streamlit
cartesia
soundfile
matplotlib
langgraph-checkpoint-sqlite
langchain-chroma
langchain-cohere